<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{app.title}}</title>
</head>
<link rel="stylesheet" href="css/style.css">
<body>
    <div class="app-wrapper">
        <div class="app-title">
            {{app.title}}
        </div>

        <div class="app-content">
            <div class="nav">
                <ul>
                    <li><a href="/">Home</a></li>
                    <li><a href="/about">About</a></li>
                </ul>
            </div>

            <div class="content">
                <div class="msg-404">
                    <div class='title-404'>404 Error</div>
                    <div>Sorry The Page Doesn't Exists.</div>
                </div>
            </div>
        </div>
        <div class="app-footer">
            Project By: theArkein
        </div>
    </div>
</body>
<script src="js/script.js"></script>
</html>