<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{app.title}}</title>
</head>
<link rel="stylesheet" href="css/style.css">
<body>
    <div class="app-wrapper">
        <div class="app-title">
            {{app.title}}
        </div>

        <div class="app-content">
            <div class="nav">
                <ul>
                    <li><a href="/">Home</a></li>
                    <li><a href="/about">About</a></li>
                </ul>
            </div>

            <div class="content">
                <div class="about-content">
                    <div class="section">
                        <div class="title">About Project</div>
                        <div class="description">
                            A basic NodeJs app for managing todo list. The purpose
                            of doing this project was to learn basics of NodeJs for 
                            an web application. To use  mongodb with NodeJs and to 
                            build project in MVC pattern.
                        </div>
                    </div>
                    <div class="section">
                        <div class="title">Built Using</div>
                        <div class="description">
                            <li>Front End: HTML, CSS, JS </li>
                            <li>Back End: NodeJs</li>
                            <li>Dependencies: Express, MongoDb, Hbs</li>
                        </div>
                    </div>
                    <div class="section">
                        <div class="title">Resource Credits</div>
                        <div class="description">
                            <li>Icons: <a href="www.flaticons.com">Flat Icons</a></li>
                            <li>Thanks to all open source communities and technologies</li>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="app-footer">
            Project By: theArkein
    </div>
</body>
<script src="js/script.js"></script>
</html>